<div class="container">
    <form [formGroup]="clientForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <mat-form-field class="example-full-width">
          <mat-label>Client Name</mat-label>
          <input matInput formControlName="name" placeholder="Enter client name" />
          <mat-error *ngIf="clientForm.get('name')?.hasError('required')">
            Client name is required
          </mat-error>
        </mat-form-field>
      </div>
  
      <div class="form-group">
        <mat-form-field class="example-full-width">
          <mat-label>Mobile Number</mat-label>
          <input matInput formControlName="mobileNumber" placeholder="Enter mobile number" />
          <mat-error *ngIf="clientForm.get('mobileNumber')?.hasError('required')">
            Mobile number is required
          </mat-error>
          <mat-error *ngIf="clientForm.get('mobileNumber')?.hasError('pattern')">
            Enter a valid mobile number
          </mat-error>
        </mat-form-field>
      </div>
  
      <div class="form-group">
        <mat-form-field class="example-full-width">
          <mat-label>Email</mat-label>
          <input matInput formControlName="email" placeholder="Enter email" />
          <mat-error *ngIf="clientForm.get('email')?.hasError('required')">
            Email is required
          </mat-error>
          <mat-error *ngIf="clientForm.get('email')?.hasError('email')">
            Enter a valid email
          </mat-error>
        </mat-form-field>
      </div>
  
      <button mat-raised-button color="primary" type="submit" [disabled]="clientForm.invalid">
        Add Client
      </button>
    </form>
  </div>
  