@media print {
  body * {
    visibility: hidden;
  }
  #barcodeContainer, #barcodeContainer * {
    visibility: visible;
  }
  #barcodeContainer {
    position: absolute;
    left: 0;
    top: 0;
  }
}
.barcode-number {
  text-align: center;
  font-size: 12px;
  margin-top: 5px;
}