$primary-color: #4A90E2;
$secondary-color: #F5A623;
$background-color: #f7f8fa;
$font-family: 'Arial', sans-serif;

* {
  box-sizing: border-box;
}

body {
  font-family: $font-family;
  background-color: $background-color;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  display: flex;
  flex-direction: row;
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.settings, .preview {
  padding: 20px;
  margin: 10px;
}

.settings {
  flex: 1;
  border-right: 1px solid #e0e0e0;
}

.preview {
  flex: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h2 {
  margin-top: 0;
  color: $primary-color;
}

.form-group {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

input[type="number"], select {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

input[disabled], select[disabled] {
  background-color: #e9ecef;
  cursor: not-allowed;
}

.toggle-button {
  width: 100%;
  padding: 10px;
  background-color: #dd3939;
  border: none;
  border-radius: 4px;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
}

.toggle-button i {
  margin-right: 8px;
}

.toggle-button:hover {
  background-color: #962727;
}

.print-button {
  padding: 10px 20px;
  background-color: $primary-color;
  border: none;
  border-radius: 4px;
  color: white;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.print-button i {
  margin-right: 8px;
}

.print-button:hover {
  background-color: darken($primary-color, 10%);
}

.barcode-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  page-break-inside: avoid;
  break-inside: avoid;
  margin-top: 20px;
  width: 100%;
}

.qr-code-wrapper {
  text-align: center;
  page-break-inside: avoid;
  margin-bottom: 0.3in;
  padding: 10px;
}

.qr-code-title {
  font-size: 7px;
  font-family: $font-family;
  font-weight: bold;
  margin-bottom: 5px;
}

.qr-code-image {
  display: block;
  width: 100%; /* or set it to specific width if needed */
  height: auto;
}

.qr-code-value {
  font-size: 7px;
  font-family: $font-family;
  margin-top: 5px;
}

.double-column {
  display: flex;
  justify-content: space-between;
}
