<div class="container">
  <div class="row">
    <div class="col-sm-8">
      <div class="row">
        <div class="col-sm-4" *ngFor="let item of this.mainSeviceService.itemsList;">
          <app-item-card 
            [barcode]="item.barcode" 
            [category]="item.categoryDTO?.name || ''"
            [marka]="item.markaDTO?.name || ''"
            [name]="item.name" 
            [itemId]="item.id"  
            [priceIn]="item.priceInDTO?.price"
            [priceOut]="item.priceOutDTO?.price"  
            [src]="getImageUrl(item)">
          </app-item-card>
        </div>
      </div>
    </div>
    <div class="col-sm-4" style="position: relative; overflow: auto; height: 100vh;">
      <div style="position: sticky; top: 0;">
        <app-item-list-filter></app-item-list-filter>
      </div>
    </div>
  </div>
</div>
