<mat-accordion>

  <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Products المُنتجات
      </mat-panel-title>
    </mat-expansion-panel-header>
    <p (click)="navigateToAddItemRoute()">Add Product (أضف مُنتج)</p>
    <p (click)="navigateToDisplayProducsRoute()">Display Products (عرض المُنتجات)</p>

  </mat-expansion-panel>


  <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Catrgories الأصناف
      </mat-panel-title>
    </mat-expansion-panel-header>
    <p (click)="navigateToAddCategoryRoute()">Add Categorie (أضف فئة)</p>
    <p (click)="navigateToDisplayCategoriesRoute()">Display Categories (عرض الفِئات)</p>
  </mat-expansion-panel>

  <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Brands الماركات
      </mat-panel-title>
    </mat-expansion-panel-header>
    <p (click)="navigateToAddMarkaRoute()">Add Brand (أضف ماركة)</p>
    <p (click)="navigateToDisplayMarkasRoute()">Display Brands (عرض الماركات)</p>
  </mat-expansion-panel>

  <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Prices الأسعار
      </mat-panel-title>
    </mat-expansion-panel-header>
    <p (click)="navigateToAddPriceOutRoute()">Add Selling Price (أضف شعر البيع)</p>
    <p (click)="navigateToAddPriceInRoute()">Add Pruching Price (أضف شعر الشراء)</p>
  
  </mat-expansion-panel>


  <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Repository المُستودع
      </mat-panel-title>
    </mat-expansion-panel-header>
    <p (click)="navigateToAddInventoryRoute()">Add shipment (أضف شحنة)</p>
    <p (click)="navigateToDisplayInventoryRoute()">Display Inventory (عرض المخزون)</p>
    <p (click)="navigateToDisplayInventoryHistoryRoute()">Display History (عرض السِجل)</p>
    <p (click)="navigateToDisplayTradersRoute()">Display Traders (عرض التُجار)</p>
    <p (click)="navigateToAddTraderRoute()">Add Traders (أضف تاجر)</p>
    <p (click)="navigateToDisplayEmployeesRoute()">Display Employees (عرض الموظفين)</p>
    <p (click)="navigateToAddEmployeeRoute()">Add Employee (أضف موظف)</p>
  
  </mat-expansion-panel>
</mat-accordion>

