<div class="card">
    <p-table [value]="inventories" [tableStyle]="{ 'min-width': '50rem' }">
        <ng-template pTemplate="header">
            <tr>
                <th>Name</th>
                <th>Trader</th>
                <th>Employee</th>
                <th>Date Added</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-inventory>
            <tr (click)="onRowClick(inventory)">
                <app-barcode-generator [value]="inventory.barcode || ''"></app-barcode-generator>
                <td>{{ inventory.traderDTO?.name }}</td>
                <td>{{ inventory.employeeDTO?.user?.name }}</td>
                <td>{{ inventory.arrivalDate | date: 'MMM dd, yyyy' }}</td>
            </tr>
        </ng-template>
    </p-table>
</div>