<form [formGroup]="myForm">
 

  <div class="form-group">
    <mat-form-field class="example-full-width">
      <mat-label>Employee (الموظف)</mat-label>
      <input type="text"
             placeholder="Employee's Name (إسم الموظف)"
             aria-label="Name"
             matInput
             formControlName="employeeName"
             [formControl]="EmployeeController"
             [matAutocomplete]="auto3">
      <mat-autocomplete autoActiveFirstOption #auto3="matAutocomplete" (optionSelected)="onOptionSelectedEmployee($event)">
        <mat-option *ngFor="let employee of employeeNames | keyvalue" [value]="employee.value">
          {{ employee.value }}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </div>
  <div class="form-group">
    <mat-form-field class="example-full-width">
      <mat-label>Salary الراتب</mat-label>
      <input [readonly]="!foundEmployee" type="text" matInput formControlName="employeeSalary" placeholder="3000">
    </mat-form-field>
</div>

 
      <button type="submit" class="btn btn-primary" (click)="onSubmit()">Submit</button>
    </form>
    