<form [formGroup]="myForm">
  <div class="form-group">
    <mat-form-field class="example-full-width">
      <mat-label>Barcode (الباركود)</mat-label>
      <input type="text"
             placeholder="Product Name (إسم المُنتج)"
             aria-label="Name"
             matInput
             formControlName="barcodeName"
             [formControl]="ProductController"
             [matAutocomplete]="auto1">
      <mat-autocomplete autoActiveFirstOption #auto1="matAutocomplete" (optionSelected)="onOptionSelectedBarcode($event)">
        <mat-option *ngFor="let item of itemNames | keyvalue" [value]="item.value">
          {{ item.value }}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </div>


  <div class="form-group">
    <mat-form-field class="example-full-width">
      <mat-label>Trader (التاجر)</mat-label>
      <input type="text"
             placeholder="Trader Name (إسم التاجر)"
             aria-label="Name"
             matInput
             formControlName="traderName"
             [formControl]="TraderController"
             [matAutocomplete]="auto2">
      <mat-autocomplete autoActiveFirstOption #auto2="matAutocomplete" (optionSelected)="onOptionSelectedTrader($event)">
        <mat-option *ngFor="let trader of traderNames | keyvalue" [value]="trader.value">
          {{ trader.value }}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </div>

  <div class="form-group">
    <mat-form-field class="example-full-width">
      <mat-label>Employee (الموظف)</mat-label>
      <input type="text"
             placeholder="Employee's Name (إسم الموظف)"
             aria-label="Name"
             matInput
             formControlName="employeeName"
             [formControl]="EmployeeController"
             [matAutocomplete]="auto3">
      <mat-autocomplete autoActiveFirstOption #auto3="matAutocomplete" (optionSelected)="onOptionSelectedEmployee($event)">
        <mat-option *ngFor="let employee of employeeNames | keyvalue" [value]="employee.value">
          {{ employee.value }}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </div>

    <div class="form-group">
      <mat-form-field class="example-full-width">
        <mat-label> Price In (سعر الشراء)</mat-label>
        <input [disabled]="foundProduct" [readonly]="true"  type="text" matInput formControlName="priceIn" placeholder="مثلا 90 شيكل">
      </mat-form-field>
    </div>
    <div class="form-group">
        <mat-form-field class="example-full-width">
          <mat-label>Patch Id Price أدخل رقم تعريفي للدفعة</mat-label>
          <input [readonly]="!foundProduct" type="text" matInput formControlName="patchId" placeholder="مثلا 1  ">
        </mat-form-field>
    </div>
    <div class="form-group">
        <mat-form-field class="example-full-width">
          <mat-label>Number Of Units الكمية المشحونة من المُنتج</mat-label>
          <input [readonly]="!foundProduct" type="text" matInput formControlName="numberOfUnits" placeholder="مثلا 1 أو A4d5">
        </mat-form-field>
    </div>

    <div class="form-group">
        <mat-form-field class="example-full-width">
          <mat-label>Arrival Date تاريخ وصول الشحنة</mat-label>
          <input [readonly]="!foundProduct" type="date" matInput formControlName="arrivalDate" placeholder="مثلاً 2023-06-25">
        </mat-form-field>
    </div>

    <div class="form-group">
        <mat-form-field class="example-full-width">
          <mat-label>Expiration Date تاريخ إنتهاء مُنتجات الشحنة</mat-label>
          <input [readonly]="!foundProduct" type="date" matInput formControlName="expirationDate" placeholder="مثلاً 2023-06-25">
        </mat-form-field>
    </div>
    <button type="submit" class="btn btn-primary" (click)="onSubmit()">Submit</button>
  </form>
  